body
{
	font-family: 'Bangers', sans-serif;
	font-size: 1.5rem;
	background-color: rgb(240,240,240);
}

main
{
	display: flex;
}

header
{
	text-align: center;
	background-color: rgb(240,240,240);
}

header>p
{
	font-family: 'Barlow', sans-serif;
}

#input-side
{
	background-color: #1a86cf;	
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 70vh;
	justify-content: space-around;
	align-items: center;
}

#output-side
{
	background-color: #ed2142;
	color: white;
	width: 100%;
	height: 70vh;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

input, button, #output-field, #word-output-field
{
	font-family: 'Barlow', sans-serif;
	font-size: 1.5rem;
	
	min-width: 300px;
	min-height: 50px;
	text-align: center;
}

